{
    "root": true,
    "extends": ["@ionaru", "prettier"],
    "rules": {
        "jest/no-deprecated-functions": "off",
        "jest/unbound-method": "off",
        "jest/require-hook": "off",
        "import/extensions": "off",
        "import/no-unresolved": "off",
        "unicorn/no-null": "off"
    }
}
