$light-border-color: #d1d1d1;

:root {
    --easymde-border-color: #{$light-border-color};
    --easymde-enabled-color: #{lighten($light-border-color, 5%)};
    --easymde-hover-color: #{$light-border-color};
    --easymde-active-color: #{darken($light-border-color, 5%)};
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --easymde-border-color: blue;
//         --easymde-hover-color: red;
//         // --easymde-active-color: lighten(var(--easymde-hover-color), 10%);
//         // --easymde-click-color: darken(var(--easymde-hover-color), 10%);
//     }
// }

.easymde-toolbar {
    position: relative;
    user-select: none;
    padding: 9px 10px;
    border: 1px solid $light-border-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    button {
        background: transparent;
        display: inline-block;
        text-align: center;
        text-decoration: none !important;
        height: 30px;
        margin: 0;
        padding: 0;
        border: 1px solid transparent;
        border-radius: 3px;
        cursor: pointer;
        width: 30px;

        &.enabled {
            background-color: var(--easymde-enabled-color);
        }

        &:hover {
            background-color: var(--easymde-hover-color);
        }

        &:active {
            background-color: var(--easymde-active-color);
        }
    }

    span.separator {
        display: inline-block;
        width: 0;
        border-left: 1px solid var(--easymde-border-color);
        border-right: 1px solid var(--easymde-border-color);
        color: transparent;
        text-indent: -10px;
        margin: 0 6px;
    }
}

.easymde-container {
    display: block;

    .easymde-toolbar {
        border-bottom: none;
    }

    .cm-editor {
        box-sizing: border-box;
        border: 1px solid var(--easymde-border-color);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 10px;
        font: inherit;
        z-index: 0;
        word-wrap: break-word;

        &.cm-focused {
            outline: none;
        }

        .cm-scroller {
            font: inherit;
        }

        .cm-content {
            min-height: 300px;
        }
    }
}

.easymde-statusbar {
    padding: 8px 10px;
    font-size: 12px;
    color: #595959;
    text-align: right;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);

    .status-bar-element {
        padding: 0 5px;
    }
}
